/* Variáveis Globais */
:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --font-family: 'Arial', sans-serif;
  --footer-height: 100px;
}

/* Reset básico para margens e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;  /* Certifique-se de que a altura do html e body ocupe toda a tela */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;  /* Faz os elementos internos se organizarem em uma coluna */
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Cabeçalho */
header {
  background: var(--primary-color);
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

/* Conteúdo Principal */

.main-content {
  flex: 1;  /* Ocupa todo o espaço disponível */
  padding: 20px;
}

/* Rodapé */
footer {
  background: var(--secondary-color);
  color: #fff;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  /* Garante que o footer ocupe toda a largura */
}
/* Responsividade */
@media (max-width: 768px) {

  .main-content,
  footer {
      padding: 10px;
  }
}

/* Classes auxiliares */
.text-center {
  text-align: center;
}

.hidden {
  display: none;
}